<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iaido users</title>
</head>
<body>
  <div class="container">
      <div class="column">
        {% block sidebar %}
        <ul>
          {% if user.is_authenticated %}
            <p>Welcome, {{ user.first_name }} {{ user.last_name }}</p>
          {% else %}
            <p>Please log in.</p>
          {% endif %}
          <li><a href="{% url 'index' %}">Home</a></li>
          {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% endblock %}
      </div>
      <div class="column ">
        {% block content %}
        {% endblock %}
      </div>
  </div>

</body>
</html>